.cgs .view-document object,
.resume .view-document object {
  width: 100%;
  height: 93vh;
}

#footer section.container {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  #footer section.container {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  #footer section.container ul li {
    text-align: center;
  }
}

#footer section.container ul {
  list-style: none;
  margin-left: 0;
}

#footer section.container ul li {
  text-align: justify;
}

#footer section.container p {
  align-content: center;
  margin-top: 16px;
}

.modular-features.small .feature-icon img {
  height: 70px;
  position: relative;
  top: auto;
  left: auto;
  display: inherit;
  margin: 0 auto 1rem;
  transform: none;
  color: #acb3c2;
}

.bg-primary {
  background: #1a202c !important;
  color: #3d5aa8;
}

.bg-primary h2 {
  color: #3d5aa8;
}

#header {
  background: #1a202c;
}
